.transactions {
  height: 100%;
  width: 100%;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray-600);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--green-500);

    &:hover {
      background: var(--green-400);
    }

    &:active {
      background: var(--green-300);
    }
  }
}

.loading {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
