.zInputText {
  width: 418px;
  height: 48px;

  background-color: var(--white-900);

  display: flex;
  align-items: center;

  input {
    flex: 1 1 auto;

    height: 100%;
    font-size: 22px;

    border: 0;
  }

  svg {
    flex: 0 0 auto;

    margin: 0 12px;
  }

  div {
    flex: 0 0 auto;

    background-color: var(--black);

    width: 1px;
    height: 35px;

    margin: 0 12px 0 0;
  }
}
