.usersMain {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  > header {
    display: flex;
    margin-bottom: 32px;

    .searchBar {
      flex: 1 0 auto;
      align-items: center;

      padding: 8px 16px;
      border-radius: 32px;

      display: flex;

      background-color: var(--white-500);

      * {
        margin: 0 8px;
      }

      input[type="text"] {
        background: 0;

        font-size: 22px;

        width: 100%;
        height: 100%;

        &::placeholder {
          color: var(--gray-200);
        }
      }
    }

    > h1 {
      flex: 0 0 auto;

      font-size: 43px;
      font-weight: normal;

      margin-right: 16px;
    }
  }

  > div {
    flex: 1 1 auto;
  }
}
