.zorkUserCard {
  padding: 32px;
  background-color: var(--white-500);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  > div {
    margin-bottom: 4px;
  }

  > .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .userActions {
    > * {
      margin: 8px 0;
    }

    > button {
      margin-right: 8px;
    }
  }

  > .userInfo {
    > h1 {
      font-size: 36px;
      margin: 32px 0 64px 0;
    }
  }

  > .divider {
    height: 3px;
    margin: 12px 18px 18px 18px;

    background-color: var(--gray-200);
  }

  > .transactionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h1 {
      font-size: 36px;
      font-weight: normal;
    }

    > .transactionFilter {
      margin: 0 16px;

      > * {
        margin: 0 4px;
      }
    }
  }

  > .transactions {
    height: 100%;
    overflow-y: auto;

    > .empty {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--gray-200);
    }

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background: var(--gray-600);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--green-500);

      &:hover {
        background: var(--green-400);
      }

      &:active {
        background: var(--green-300);
      }
    }
  }
}
